<footer class="footer">
    <div class="container">
        <p class="text-muted">
            {{ site.title }}
            <a href="mailto:{{ site.email }}">{{ site.email }}</a>
            {% if site.github_username %}
                <a href="https://github.com/{{ site.github_username }}">
                    {{ site.github_username }}
                </a>
            {% endif %}
            {% if site.twitter_username %}
                <a href="https://twitter.com/{{ site.twitter_username }}">
                    {{ site.twitter_username }}
                </a>
            {% endif %}
            {{ site.description }}
        </p>
    </div>
</footer>
